@using MyEmployees.Client.Pages

@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <EditEmployee></EditEmployee>
        </div>
    </div>
</div>

@code{

}